/* Reset some basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-width: max-content; /* Fix the bg width when the window is narrow */
}

/* Navigation bar */
nav {
  align-items: center; /* Vertically center */
  background-color: #333;
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

#nav-title-label {
  font-size: xx-large;
  color: #bbb;
  margin: 0 20px;
  display: inline;
}

/* Top navigation bar "buttons" */
nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-top: black 5px;
}

nav a:hover {
  background-color: #555;
}

nav a:active {
  background-color: #444;
}

/* Content section */
#dashboard {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

#dashboard h1 {
  text-align: center;
}

/* Style the cards */
.card {
  background-color: white;
  padding: 20px;
  margin: 10px 0; /* Spacing between cards */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0;
  font-size: 1.5em;
}

.card p {
  margin: 10px 0 0;
}
